body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 10vh;
    position: fixed;
    left: 0;
}
h1{
    position: absolute;
    top: 5vw;
    left: 60vh; 
    font-size: 270%;
    color: white;
}
.about-Poland{
    position:fixed;
    top: 360px;
    text-align: left;
    margin-left: 20%;
    margin-top: 10px;
    white-space: pre-wrap;
    line-height: 2em;
    font-size: 80%;
}
.consultation-bar-head{
    position:fixed;
    top: 370px;
    left: 1000px;
    font-size: 130%;
}
.rect{
    position:fixed;
    top: 375px;
    left: 970px;
    height: 153px;
    width: 4px;
    background-color:#00c0e3;
}
.consultation-bar-body{
    position:fixed;
    top: 410px;
    left: 1000px;
    font-size: 60%;
    
}
.consultation-inputs-name{
    padding: 0.5em;
    color: gray;
    position:fixed;
    top: 445px;

}
.consultation-inputs-email{
    padding: 0.5em;
    color: gray;
    position:fixed;
    top: 445px;
    left: 1200px;
}
.consultation-inputs-tel{
    padding: 0.5em;
    color: gray;
    position: fixed;
    top: 495px;
}
.consultation-inputs-send{
    position:fixed;
    left: 1200px;
    top: 495px;
    width: 186px;
    height: 32px;
    background-color: #00c0e3;
    border-color: transparent; 
}
