html, body {
  font-family: Arial, Helvetica, sans-serif;
  /* overflow-y:hidden; */
}
.nicescroll-rails-hr {
  display: none;
}

.auth_form { 
	width: 400px; 
	text-align: center; 
  border-radius: 5px; 
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
@media only screen and (max-width : 600px) {
  .auth_form {
    width: 90%;
  }
}
.auth_form > .head {
  background-color: rgba(0,0,0,.1);
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.auth_form > .body {
  padding: 1.25rem;
}
.auth_form > .body > input {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  padding: 3px;
}

.jobs_form { 
  border-radius: 5px; 
  margin: 10px;
  /* position: relative;
  display: flex; */
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.jobs_form > .head {
  background-color: rgba(0,0,0,.1);
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.jobs_form > .body {
  padding: 0 1.25rem;
}
.center-el {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
main {
  padding-left: 300px;
}
@media only screen and (max-width: 992px) {
  main {
    padding-left: 0;
  }
}
.sidenav {
  background-color: #343a40;
}

.sidenav > li > a,
.sidenav > li > ul > li > a {
  padding: 0 16px;
  color: #a6acb1;
}
.sidenav .collapsible-body > ul > li > a {
  color: #868e96;
}
.sidenav .collapsible-body {
  background-color: #343a403b;
}