html, body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x:hidden;
  overflow-y:hidden;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.hot-work {
  width: auto;
  font-weight: bold;
  padding: 0px;
}
.hot-work>.text-work {
  margin: 0px;
  border: 1px solid black;
  border-radius: 5px;
}

.carousel-hot-work>a>img {
  width: 400px;
}

.jobs-form {
  border: 2px solid #81d4fa  ;
  border-radius: 10px; 
}

.sticky-block {
  z-index:996;
  height: 20%;
  min-height: 167px;
  width: 170px;
  position: fixed;
  right: 0; top: 40%;
  border-radius: 10px 0 0 10px;
}
.sticky-block>ul>li>a {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.jobs-img {
  width: 230px;
}

@media only screen and (min-width : 993px) {
  .parallax-container .country-flag {
    position: absolute;
    top: 40%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
  #index-banner .section {
    top: 10%;
  }
  .flag-block img {
    width: 100px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .flag-block img {
    width: 70px;
  }
  .carousel .indicators {
    display: none;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.kubik_forma{ 
	background-color: #D8D8D8; 
	width: 500px; 
	margin: auto auto; 
	position: relative; 
	text-align: center; 
	border-radius: 5px; 
	z-index: 2; 
}

.line { 
  border-left: 4px solid #00c0e3;
  margin-left: 20px;
  padding-left: 10px;
 }
/*список на странице openComp */
 .rounded {
  counter-reset: li; 
  list-style: none; 
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }
  .rounded a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #DAD2CA;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
  }
  .rounded a:hover {background: #E9E4E0;}
  .rounded a:hover:before {transform: rotate(360deg);}
  .rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8FD4C1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  }
  /*-------*/